<h1>About Us</h1>
<p>This is the Pinteresting sample application for One Month Rails.</p>

<p>This is also an attempt in trying to push myself do something completely different. After doing a job for almost eight years and still feel I haven't accomplished anything, I needed to do something new. I sincerely hope this opens the doors for me to explore programming and hopefully be something that I will be very proud of.</p>

